// @import 'reset';
$primary-color: #47a3da;
$secondary-color: white;
$page-width: 95%;
$break-large: 1005px;
$break-small: 660px;

.wrapper{
  width: $page-width;
  margin: 5% 5%;
}

a{
  text-decoration: none;
}
.block{
  color: $primary-color;
  background-color: $secondary-color;
  width: $page-width/3;
  @media screen and (max-width: $break-large){
    width: $page-width/2;
  }
  @media screen and (max-width: $break-small){
    width: $page-width;
  }
  font-family: "Black Ops One", sans-serif;
  display: inline-block;
  i{
    display: block;
    margin: 20% 0 10% 30%;
    font-size: 10em;
  }
  .text{
    margin: 2% 0;
    border-top: solid 5px $primary-color;
    font-size: 5em;
      }
  .why{
    margin: 0 27.5%;
  }
  .we{
    margin: 0 28%;
  }
  .cant{
    margin: 0 18%;
  }
  .have{
    margin: 0 21%;
  }
  .nice{
    margin: 0 21%;
  }
  .things{
    margin: 0 8%;
  }
  .rollover-text{
    color: $secondary-color;
    font-size: 2.5em;
    margin: 2% 0 5% 28%;
  }
  &:hover{
    background-color: $primary-color;
    color: $secondary-color;
    .text{
      border-bottom: solid 5px $secondary-color;
    }
    .rollover-text{
      display: block;
    }
    }
  }
